.ejercicio1-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
  padding: 20px;
}

.ejercicio1-container h1 {
  text-align: center;
  color: #0f0f0f;
  margin: 0;
  margin-bottom: 20px;
}

.ejercicio1-container button {
  background-color: #018ab7;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 25px;
  margin-top: 20px;
  cursor: pointer;
  border-radius: 12px;
  width: 100%;
  max-width: 300px;
}

.ejercicio1-container button:hover {
  background-color: #0f3d7a;
}

